<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2008 Sonatype, Inc.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html
-->
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="pageFactories" name="%extension-point.pageFactory.name" schema="schema/pageFactories.exsd"/>
   <extension-point id="org.maven.ide.eclipse.editor.lifecycleMappingEditorContribution" name="%extension-point.lifecycleMapping.name" schema="schema/org.maven.ide.eclipse.editor.lifecycleMappingEditorContribution.exsd"/>
   <extension-point id="org.maven.ide.eclipse.editor.plugins.configurationEditorContribution" name="%extension-point.pluginConfiguration.name" schema="schema/configurationEditorContribution.exsd"/>
   

  <extension point="org.eclipse.ui.editors">
    <editor
          class="org.maven.ide.eclipse.editor.pom.MavenPomEditor"
          contributorClass="org.maven.ide.eclipse.editor.pom.MavenPomEditorContributor"
          icon="icons/editor-pom.gif"
          id="org.maven.ide.eclipse.editor.MavenPomEditor"
          name="%editor.name">
       <contentTypeBinding contentTypeId="org.maven.ide.eclipse.pomFile"/> 
    </editor>
  </extension>

  <extension point="org.maven.ide.eclipse.m2menu">
     <factory class="org.maven.ide.eclipse.editor.internal.actions.PomEditorMenuCreator"/>
  </extension>
   <extension point="org.eclipse.ui.preferencePages">
      <page id="org.maven.ide.eclipse.editor.pom.PomEditorPreferencePage"
         category="org.maven.ide.eclipse.preferences.Maven2PreferencePage"
         class="org.maven.ide.eclipse.editor.pom.PomEditorPreferencePage"
         name="%page.name">
         <keywordReference id="org.maven.ide.eclipse.maven"/>
      </page>
   </extension>
   <extension
         point="org.maven.ide.eclipse.editor.lifecycleMappingEditorContribution">
      <editContributor
            class="org.maven.ide.eclipse.editor.lifecycle.custom.CustomLifecycleMappingEditorContribution"
            editorFor="customizable">
      </editContributor>
   </extension>
</plugin>
