<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2008 Sonatype, Inc.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html
-->
<?eclipse version="3.2"?>
<plugin>

   <extension point="org.eclipse.m2e.scm.scmHandlers">
      <handler class="org.eclipse.m2e.tests.scm.TestScmHandler"
               priority="1000" type="test"/>
   </extension>
   
   <extension point="org.eclipse.m2e.core.archetypeCatalogs">
      <local name="archetype-catalog.xml" description="Test Catalog"/>
      <remote url="http://repo1.maven.org/maven2/archetype-catalog.xml" description="Test Remote Catalog"/>
   </extension>
   
   <extension point="org.eclipse.m2e.core.projectConfigurators">
      <configurator id="org.eclipse.m2e.configurator.test"
            class="org.eclipse.m2e.tests.configurators.TestProjectConfigurator"
            name="TEST"/>
      <configurator id="org.eclipse.m2e.configurator.test2"
            class="org.eclipse.m2e.tests.configurators.TestProjectConfigurator2"
            name="TEST2"/>
      <configurator id="org.eclipse.m2e.configurator.incompatibleApi"
            class="org.eclipse.m2e.tests.configurators.IncompatibleProjectConfigurator"
            name="AJDT-0.9.8"/>
      <configurator
            class="org.eclipse.m2e.tests.configurators.MNGECLIPSE2313MarkAllRawClasspathEntriesConfigurator"
            id="MNGECLIPSE-2313_markAllRawClasspathEntries">
      </configurator>
      <configurator
            class="org.eclipse.m2e.tests.ThrowBuildExceptionProjectConfigurator"
            id="org.eclipse.m2e.tests.ThrowBuildExceptionProjectConfigurator">
      </configurator>
      <configurator
            class="org.eclipse.m2e.tests.AddMarkersProjectConfigurator"
            id="org.eclipse.m2e.tests.AddMarkersProjectConfigurator">
      </configurator>
      <configurator
            class="org.eclipse.m2e.tests.AddMarkersProjectConfiguratorFoo"
            id="org.eclipse.m2e.tests.AddMarkersProjectConfiguratorFoo">
      </configurator>
      <configurator
            class="org.eclipse.m2e.tests.AddMarkersProjectConfiguratorBar"
            id="org.eclipse.m2e.tests.AddMarkersProjectConfiguratorBar">
      </configurator>
      <configurator
            class="org.eclipse.m2e.tests.configurators.TestProjectConfigurator"
            id="org.eclipse.m2e.configurator.testsecondary"
            name="TEST_SECONDARY"
            secondaryTo="org.eclipse.m2e.configurator.test">
      </configurator>
      <configurator
            class="org.eclipse.m2e.tests.configurators.TestProjectConfigurator"
            id="org.eclipse.m2e.configurator.testsecondary2"
            name="TEST_SECONDARY2"
            secondaryTo="org.eclipse.m2e.configurator.test">
      </configurator>
      <configurator
            class="org.eclipse.m2e.tests.jdt.TestJavaCodeGenerationProjectConfigurator"
            id="org.eclipse.m2e.tests.TestJavaCodeGenerationProjectConfigurator">
      </configurator>
   </extension>
   
   <extension
         point="org.eclipse.m2e.core.indexes">
      <index
            indexId="testIndex"
            repositoryUrl="file:testIndex">
      </index>
   </extension>
   <extension
         point="org.eclipse.m2e.core.mavenProjectChangedListeners">
      <listener
            class="org.eclipse.m2e.tests.internal.project.TestMavenProjectChangedListener">
      </listener>
   </extension>
   <extension
         point="org.eclipse.m2e.core.lifecycleMappingMetadataSource">
   </extension>

   <extension
         point="org.eclipse.m2e.core.lifecycleMappings">
      <lifecycleMapping
            class="org.eclipse.m2e.tests.configurators.TestLifecycleMapping"
            id="TEST">
      </lifecycleMapping>
   </extension>
   <extension
         point="org.eclipse.m2e.core.lifecycleMappings">
      <lifecycleMapping
            class="org.eclipse.m2e.tests.configurators.TestLifecycleMapping"
            id="test-packaging-eclipse-extension-id">
      </lifecycleMapping>
   </extension>
   
   <extension point="org.eclipse.mylyn.discovery.core.connectorDiscovery">
		<connectorCategory description="%connectorCategory.description.lifecycles" id="com.sonatype.m2e.discovery-directories.lifecycles" name="%connectorCategory.name.lifecycles" relevance="30">
  			<icon image48="images/extras-48.png" /> 
         <group id="lifecycles">
         </group>
  		</connectorCategory>
   </extension>
   
   <extension point="org.eclipse.mylyn.discovery.core.connectorDiscovery">
      <connectorDescriptor
            categoryId="com.sonatype.m2e.discovery-directories.lifecycles"
            description="%connectorDescriptor.description.tycho"
            groupId="lifecycles"
            id="com.sonatype.m2e.lifecycle.one"
            kind="lifecycles"
            license="%connectorDescriptor.license.tycho"
            name="%connectorDescriptor.name.tycho"
            provider="%connectorDescriptor.provider.tycho"
            siteUrl="http://repository.sonatype.org/content/sites/forge-sites/m2eclipse-tycho/0.5.0/N/0.5.0.201101121400/">
        <iu id="org.sonatype.tycho.m2e.feature.feature.group">
        </iu>
         <overview
               summary="%connectorDescriptor.overview.summary.tycho"
               url="http://eclipse.org/tycho/">
         </overview>
      </connectorDescriptor>
      <connectorDescriptor
            categoryId="com.sonatype.m2e.discovery-directories.lifecycles"
            description="%connectorDescriptor.description.tycho"
            groupId="lifecycles"
            id="com.sonatype.m2e.lifecycle.two"
            kind="lifecycles"
            license="%connectorDescriptor.license.tycho"
            name="%connectorDescriptor.name.tycho"
            provider="%connectorDescriptor.provider.tycho"
            siteUrl="http://repository.sonatype.org/content/sites/forge-sites/m2eclipse-tycho/0.5.0/N/0.5.0.201101121400/">
        <iu id="org.sonatype.tycho.m2e.feature.feature.group">
        </iu>
         <overview
               summary="%connectorDescriptor.overview.summary.tycho"
               url="http://eclipse.org/tycho/">
         </overview>
      </connectorDescriptor>
      <connectorDescriptor
            categoryId="com.sonatype.m2e.discovery-directories.lifecycles"
            description="%connectorDescriptor.description.tycho"
            groupId="lifecycles"
            id="com.sonatype.m2e.lifecycle.three"
            kind="lifecycles"
            license="%connectorDescriptor.license.tycho"
            name="%connectorDescriptor.name.tycho"
            provider="%connectorDescriptor.provider.tycho"
            siteUrl="http://repository.sonatype.org/content/sites/forge-sites/m2eclipse-tycho/0.5.0/N/0.5.0.201101121400/">
        <iu id="org.sonatype.tycho.m2e.feature.feature.group">
        </iu>
         <overview
               summary="%connectorDescriptor.overview.summary.tycho"
               url="http://eclipse.org/tycho/">
         </overview>
      </connectorDescriptor>
      <connectorDescriptor
            categoryId="com.sonatype.m2e.discovery-directories.lifecycles"
            description="%connectorDescriptor.description.tycho"
            groupId="lifecycles"
            id="com.sonatype.m2e.lifecycle.four"
            kind="lifecycles"
            license="%connectorDescriptor.license.tycho"
            name="%connectorDescriptor.name.tycho"
            provider="%connectorDescriptor.provider.tycho"
            siteUrl="http://repository.sonatype.org/content/sites/forge-sites/m2eclipse-tycho/0.5.0/N/0.5.0.201101121400/">
        <iu id="org.sonatype.tycho.m2e.feature.feature.group">
        </iu>
         <overview
               summary="%connectorDescriptor.overview.summary.tycho"
               url="http://eclipse.org/tycho/">
         </overview>
      </connectorDescriptor>
      <connectorDescriptor
            categoryId="com.sonatype.m2e.discovery-directories.lifecycles"
            description="%connectorDescriptor.description.tycho"
            groupId="lifecycles"
            id="iu.with.no.version"
            kind="lifecycles"
            license="%connectorDescriptor.license.tycho"
            name="%connectorDescriptor.name.tycho"
            provider="%connectorDescriptor.provider.tycho"
            siteUrl="http://localhost:10123/">
        <iu id="test.iu">
        </iu>
         <overview
               summary="%connectorDescriptor.overview.summary.tycho"
               url="http://eclipse.org/tycho/">
         </overview>
      </connectorDescriptor>
      <connectorDescriptor
            categoryId="com.sonatype.m2e.discovery-directories.lifecycles"
            description="%connectorDescriptor.description.tycho"
            groupId="lifecycles"
            id="iu.with.highest.version"
            kind="lifecycles"
            license="%connectorDescriptor.license.tycho"
            name="%connectorDescriptor.name.tycho"
            provider="%connectorDescriptor.provider.tycho"
            siteUrl="http://localhost:10123/">
        <iu id="test.iu/2.0.0.201102231450">
        </iu>
         <overview
               summary="%connectorDescriptor.overview.summary.tycho"
               url="http://eclipse.org/tycho/">
         </overview>
      </connectorDescriptor>
      <connectorDescriptor
            categoryId="com.sonatype.m2e.discovery-directories.lifecycles"
            description="%connectorDescriptor.description.tycho"
            groupId="lifecycles"
            id="iu.with.lowest.version"
            kind="lifecycles"
            license="%connectorDescriptor.license.tycho"
            name="%connectorDescriptor.name.tycho"
            provider="%connectorDescriptor.provider.tycho"
            siteUrl="http://localhost:10123/">
        <iu id="test.iu/1.0.0.201102231450">
        </iu>
         <overview
               summary="%connectorDescriptor.overview.summary.tycho"
               url="http://eclipse.org/tycho/">
         </overview>
      </connectorDescriptor>
      <connectorDescriptor
            categoryId="com.sonatype.m2e.discovery-directories.lifecycles"
            description="MissingIU"
            groupId="lifecycles"
            id="missing.iu"
            kind="lifecycles"
            license="%connectorDescriptor.license.tycho"
            name="MissingIU"
            provider="%connectorDescriptor.provider.tycho"
            siteUrl="http://localhost:10123/">
        <iu id="missing.iu/1.0.0.201102231450">
        </iu>
         <overview
               summary="%connectorDescriptor.overview.summary.tycho"
               url="http://eclipse.org/tycho/">
         </overview>
      </connectorDescriptor>
      <connectorDescriptor
            categoryId="com.sonatype.m2e.discovery-directories.lifecycles"
            description="MissingRepository"
            groupId="lifecycles"
            id="missing.repository"
            kind="lifecycles"
            license="%connectorDescriptor.license.tycho"
            name="MissingRepository"
            provider="%connectorDescriptor.provider.tycho"
            siteUrl="http://localhost:10123/missingrepository/">
        <iu id="test.iu/1.0.0.201102231450">
        </iu>
         <overview
               summary="%connectorDescriptor.overview.summary.tycho"
               url="http://eclipse.org/tycho/">
         </overview>
      </connectorDescriptor>
   </extension>
   <extension
         point="org.eclipse.m2e.core.artifactFilters">
      <artifactFilter
            class="org.eclipse.m2e.tests.internal.index.filter.IndexFilterTest$TestIndexFilter">
      </artifactFilter>
   </extension>
   <extension
         point="org.eclipse.m2e.core.projectConversionParticipants">
      <projectConversionParticipant
            class="org.eclipse.m2e.tests.conversion.TestProjectConversionParticipant"
            id="org.eclipse.m2e.tests.conversion.testProjectConversionParticipant"
            name="Test project conversion participant"
            nature="org.eclipse.jdt.core.javanature">
      </projectConversionParticipant> 
      <projectConversionParticipant
            class="org.eclipse.m2e.tests.conversion.TestSortProjectConversionParticipant"
            id="org.eclipse.m2e.tests.conversion.testProjectConversionParticipant2"
            name="Test sort project conversion participant 2"
            runsBefore="org.eclipse.m2e.jdt.javaProjectConversionParticipant"
            nature="org.eclipse.jdt.core.javanature">
      </projectConversionParticipant> 
      <projectConversionParticipant
            class="org.eclipse.m2e.tests.conversion.TestSortProjectConversionParticipant"
            id="org.eclipse.m2e.tests.conversion.testProjectConversionParticipant3"
            name="Test sort project conversion participant 3"
            runsAfter="missingparticipant, org.eclipse.m2e.jdt.javaProjectConversionParticipant"
            nature="org.eclipse.jdt.core.javanature">
      </projectConversionParticipant> 
      <projectConversionParticipant
            class="org.eclipse.m2e.tests.conversion.TestSortProjectConversionParticipant"
            id="org.eclipse.m2e.tests.conversion.testProjectConversionParticipant4"
            runsAfter="org.eclipse.m2e.tests.conversion.testProjectConversionParticipant2"
            runsBefore="org.eclipse.m2e.tests.conversion.testProjectConversionParticipant3,missingparticipant"
            name="Test sort project conversion participant 4"
            nature="org.eclipse.jdt.core.javanature">
      </projectConversionParticipant> 

        
      <conversionParticipantConfiguration 
      		conversionParticipantId="org.eclipse.m2e.jdt.javaProjectConversionParticipant"
      		compatiblePackagings="foo" />   
      
   </extension>
   <extension
         point="org.eclipse.m2e.core.conversionEnabler">
      <enabler
            class="org.eclipse.m2e.tests.conversion.ProjectConversionEnablerTest$FooEnabler30"
            id="org.eclipse.m2e.tests.conversion.enabler.foo30"
            weight="30">
      </enabler>
      <enabler
            class="org.eclipse.m2e.tests.conversion.ProjectConversionEnablerTest$FooEnablerDefault"
            id="org.eclipse.m2e.tests.conversion.enabler.foodefault">
      </enabler>
      <enabler
            class="org.eclipse.m2e.tests.conversion.ProjectConversionEnablerTest$FooEnabler70"
            id="org.eclipse.m2e.tests.conversion.enabler.foo70"
            weight="70">
      </enabler>
      <enabler
            class="org.eclipse.m2e.tests.conversion.ProjectConversionEnablerTest$MavenLayoutEnabler40"
            id="org.eclipse.m2e.tests.conversion.enabler.mavenlayout40"
            weight="40">
      </enabler>
      <enabler
            class="org.eclipse.m2e.tests.conversion.ProjectConversionEnablerTest$MavenLayoutEnablerDefault"
            id="org.eclipse.m2e.tests.conversion.enabler.mavenlayoutdefault">
      </enabler>
      <enabler
            class="org.eclipse.m2e.tests.conversion.ProjectConversionEnablerTest$MavenLayoutEnabler60"
            id="org.eclipse.m2e.tests.conversion.enabler.mavenlayout60"
            weight="60">
      </enabler>
   </extension>   
   <extension
         point="org.eclipse.m2e.jdt.classifierClasspathProviders">
      <classifierClasspathProvider
            class="org.eclipse.m2e.tests.TestFancyClassifierClasspathProvider"
            id="org.eclipse.m2e.jdt.fancyClassifierClasspathProvider"
            name="Fancy Classifier Classpath Provider">
      </classifierClasspathProvider>
   </extension>      
</plugin>
