<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2007, 2008 Sonatype, Inc.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html
-->
<?eclipse version="3.2"?>
<plugin>

   <extension-point id="classpathConfiguratorFactories" name="Classpath Configurator Factories" schema="schema/classpathConfiguratorFactories.exsd"/>

   <extension point="org.eclipse.jdt.core.classpathContainerInitializer"
              id="maven2ClasspathContainer"
              name="%m2.classpath-container.name">
      <classpathContainerInitializer
            id="org.maven.ide.eclipse.MAVEN2_CLASSPATH_CONTAINER"
            class="org.maven.ide.eclipse.jdt.internal.MavenClasspathContainerInitializer"/>
   </extension>
   
   <extension point="org.eclipse.jdt.ui.classpathContainerPage"
          id="maven2ClasspathContainerPage"
          name="%m2.classpath-container.page.name">
      <classpathContainerPage
          id="org.maven.ide.eclipse.MAVEN2_CLASSPATH_CONTAINER"
          name="%m2.classpath-container.page.dependencies.name"
          class="org.maven.ide.eclipse.jdt.internal.ui.MavenClasspathContainerPage"/>
   </extension>
   
   <extension point="org.eclipse.jdt.launching.classpathProviders">
      <classpathProvider 
          id="org.maven.ide.eclipse.launchconfig.classpathProvider"
          class="org.maven.ide.eclipse.jdt.internal.launch.MavenRuntimeClasspathProvider"/>
      <classpathProvider 
          id="org.maven.ide.eclipse.launchconfig.sourcepathProvider"
          class="org.maven.ide.eclipse.jdt.internal.launch.MavenSourcePathProvider"/>
   </extension>

   <extension point="org.maven.ide.eclipse.projectConfigurators">
      <configurator id="org.maven.ide.eclipse.configurator.jdt"
          class="org.maven.ide.eclipse.jdt.internal.JavaProjectConfigurator"
          name="JDT" priority="10"/>
   </extension>
   
   <extension point="org.eclipse.jdt.core.classpathVariableInitializer">
      <classpathVariableInitializer variable="M2_REPO" readOnly="true"
          class="org.maven.ide.eclipse.jdt.internal.MavenClasspathVariableInitializer"/>
   </extension>

   <extension point="org.eclipse.core.runtime.adapters">
      <factory adaptableType="org.eclipse.jdt.core.IPackageFragmentRoot"
               class="org.maven.ide.eclipse.jdt.internal.JavaElementsAdapterFactory">
         <adapter type="org.maven.ide.eclipse.embedder.ArtifactKey"/>
         <adapter type="org.eclipse.core.runtime.IPath"/>
         <adapter type="org.maven.ide.eclipse.project.IMavenProjectFacade"/>
      </factory>
      <factory adaptableType="org.eclipse.jdt.core.IJavaProject"
               class="org.maven.ide.eclipse.jdt.internal.JavaElementsAdapterFactory">
         <adapter type="org.maven.ide.eclipse.embedder.ArtifactKey"/>
         <adapter type="org.eclipse.core.runtime.IPath"/>
         <adapter type="org.maven.ide.eclipse.project.IMavenProjectFacade"/>
      </factory>
      <factory adaptableType="org.eclipse.jdt.internal.ui.packageview.ClassPathContainer$RequiredProjectWrapper"
               class="org.maven.ide.eclipse.jdt.internal.JavaElementsAdapterFactory">
         <adapter type="org.maven.ide.eclipse.embedder.ArtifactKey"/>
         <adapter type="org.eclipse.core.runtime.IPath"/>
         <adapter type="org.maven.ide.eclipse.project.IMavenProjectFacade"/>
      </factory>
   </extension>

   <extension point="org.eclipse.jdt.ui.quickAssistProcessors">
      <quickAssistProcessor
            class="org.maven.ide.eclipse.jdt.internal.actions.MavenDependencyResolver"
            name="org.maven.ide.eclipse.actions.Maven2DependencyResolver"
            id="org.maven.ide.eclipse.quickAssistProcessor"/>
   </extension>

   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
         <newWizardShortcut id="org.maven.ide.eclipse.wizards.Maven2ProjectWizard"/>
         <view id="org.maven.ide.eclipse.views.MavenIndexesView" relationship="fast"/>
      </perspectiveExtension>
   </extension>
   
   <extension point="org.eclipse.jdt.core.compilationParticipant">
      <compilationParticipant
            id="org.maven.ide.eclipse.compilationParticipant"
            class="org.maven.ide.eclipse.jdt.internal.JDTCompilationParticipant"
            createsProblems="false"
            modifiesEnvironment="false"/>
   </extension>

   <extension point="org.eclipse.ui.popupMenus">
     <objectContribution id="org.maven.ide.eclipse.classpathMenu" 
           objectClass="org.eclipse.jdt.core.IPackageFragmentRoot"
           adaptable="true">
       <action id="org.maven.ide.eclipse.classpathMenu.action"
               class="org.maven.ide.eclipse.actions.MavenMenuAction"
               label="%m2.popup.menu.label"
               style="pulldown"
               menubarPath="additions"
               enablesFor="1"
               icon="icons/m2.gif"/>
     </objectContribution>
     <objectContribution id="org.maven.ide.eclipse.classpathMenuWrapper" 
           objectClass="org.eclipse.jdt.internal.ui.packageview.ClassPathContainer$RequiredProjectWrapper"
           adaptable="true">
       <action id="org.maven.ide.eclipse.classpathMenu.action"
               class="org.maven.ide.eclipse.actions.MavenMenuAction"
               label="%m2.popup.menu.label"
               style="pulldown"
               menubarPath="additions"
               enablesFor="1"
               icon="icons/m2.gif"/>
     </objectContribution>
   </extension>  

   <extension point="org.maven.ide.eclipse.m2menu">
      <factory class="org.maven.ide.eclipse.jdt.internal.ui.MavenJdtMenuCreator"/>
   </extension>

   <!--
   <extension
         point="org.eclipse.jdt.ui.queryParticipants">
      <queryParticipant
            class="org.maven.ide.eclipse.ui.internal.search.MavenQueryParticipant"
            id="org.maven.ide.eclipse.MavenQueryParticipantJava"
            name="Maven Respository Search"
            nature="org.eclipse.jdt.core.javanature">
      </queryParticipant>
   </extension>
   -->
   
   <extension point="org.eclipse.jdt.ui.javaElementFilters">
      <filter id="org.maven.ide.eclipse.MavenModuleFilter"
          targetId="org.eclipse.jdt.ui.PackageExplorer"
          class="org.maven.ide.eclipse.ui.internal.filter.MavenModuleFilter"
          description="Filters module folders from the Maven projects"
          name="Maven modules filter"
          enabled="false"/>
   </extension>
   
   <extension point="org.eclipse.ui.editorActions">
      <editorContribution id="org.maven.ide.eclipse.jdt.downloadSourcesContribution"
                          targetID="org.eclipse.jdt.ui.ClassFileEditor">
         <action id="org.maven.ide.eclipse.jdt.downloadSourcesAction"
              class="org.maven.ide.eclipse.jdt.DownloadSourcesActionDelegate"
              label="label" style="push"/>
      </editorContribution>
   </extension>

   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution id="org.maven.ide.eclipse.openJavaDocArtifact"
          objectClass="org.apache.maven.artifact.Artifact"
          adaptable="false">
        <action id="org.maven.ide.eclipse.ui.openJavaDocArtifact"
                class="org.maven.ide.eclipse.jdt.internal.actions.OpenJavaDocAction"
                label="Open JavaDoc"
                enablesFor="1" icon="icons/javadoc.gif"/>
      </objectContribution>
      <objectContribution id="org.maven.ide.eclipse.openJavaDocDependencyNode"
          objectClass="org.apache.maven.shared.dependency.tree.DependencyNode"
          adaptable="false">
        <action id="org.maven.ide.eclipse.ui.openJavaDocDependencyNode"
                class="org.maven.ide.eclipse.jdt.internal.actions.OpenJavaDocAction"
                label="Open JavaDoc"
                enablesFor="1" icon="icons/javadoc.gif"/>
      </objectContribution>
      <objectContribution id="org.maven.ide.eclipse.openJavaDocDependency"
            objectClass="org.maven.ide.components.pom.Dependency"
            adaptable="false">
         <action id="org.maven.ide.eclipse.ui.openJavaDocDependency"
               class="org.maven.ide.eclipse.jdt.internal.actions.OpenJavaDocAction"
               label="Open JavaDoc"
               enablesFor="1" icon="icons/javadoc.gif"/>
      </objectContribution>
   </extension>

</plugin>
