<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2007, 2008 Sonatype, Inc.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html
-->
<?eclipse version="3.2"?>
<plugin>

   <extension point="org.eclipse.jdt.core.classpathContainerInitializer"
              id="maven2ClasspathContainer"
              name="%m2.classpath-container.name">
      <classpathContainerInitializer
            id="org.maven.ide.eclipse.MAVEN2_CLASSPATH_CONTAINER"
            class="org.maven.ide.eclipse.jdt.internal.MavenClasspathContainerInitializer"/>
   </extension>
   
   <extension point="org.eclipse.jdt.ui.classpathContainerPage"
          id="maven2ClasspathContainerPage"
          name="%m2.classpath-container.page.name">
      <classpathContainerPage
          id="org.maven.ide.eclipse.MAVEN2_CLASSPATH_CONTAINER"
          name="%m2.classpath-container.page.dependencies.name"
          class="org.maven.ide.eclipse.jdt.internal.ui.MavenClasspathContainerPage"/>
   </extension>
   
   <extension point="org.eclipse.jdt.launching.classpathProviders">
      <classpathProvider 
          id="org.maven.ide.eclipse.launchconfig.classpathProvider"
          class="org.maven.ide.eclipse.jdt.internal.launch.MavenRuntimeClasspathProvider"/>
      <classpathProvider 
          id="org.maven.ide.eclipse.launchconfig.sourcepathProvider"
          class="org.maven.ide.eclipse.jdt.internal.launch.MavenSourcePathProvider"/>
   </extension>

   <extension point="org.maven.ide.eclipse.projectConfigurators">
      <configurator id="org.maven.ide.eclipse.configurator.jdt"
          class="org.maven.ide.eclipse.jdt.internal.JavaProjectConfigurator"
          name="JDT" priority="10"/>
   </extension>
   
   <extension point="org.eclipse.jdt.core.classpathVariableInitializer">
      <classpathVariableInitializer variable="M2_REPO" readOnly="true"
          class="org.maven.ide.eclipse.jdt.internal.MavenClasspathVariableInitializer"/>
   </extension>

   <extension point="org.eclipse.core.runtime.adapters">
      <factory adaptableType="org.eclipse.jdt.core.IPackageFragmentRoot"
               class="org.maven.ide.eclipse.jdt.internal.JavaElementsAdaptor">
         <adapter type="org.maven.ide.eclipse.embedder.ArtifactKey"/>
      </factory>
      <factory adaptableType="org.eclipse.jdt.core.IJavaProject"
               class="org.maven.ide.eclipse.jdt.internal.JavaElementsAdaptor">
         <adapter type="org.maven.ide.eclipse.embedder.ArtifactKey"/>
      </factory>
   </extension>

   <extension point="org.maven.ide.eclipse.m2menu">
      <menuItem id="org.maven.ide.eclipse.downloadSourcesAction"
                class="org.maven.ide.eclipse.jdt.internal.actions.DownloadSourcesAction"/>
      <menuItem id="org.maven.ide.eclipse.downloadJavaDocAction"
                class="org.maven.ide.eclipse.jdt.internal.actions.DownloadSourcesAction"/>
   </extension>

   <extension point="org.eclipse.jdt.ui.quickAssistProcessors">
      <quickAssistProcessor
            class="org.maven.ide.eclipse.jdt.internal.actions.MavenDependencyResolver"
            name="org.maven.ide.eclipse.actions.Maven2DependencyResolver"
            id="org.maven.ide.eclipse.quickAssistProcessor"/>
   </extension>

   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
         <newWizardShortcut id="org.maven.ide.eclipse.wizards.Maven2ProjectWizard"/>
         <view id="org.maven.ide.eclipse.views.MavenIndexesView" relationship="fast"/>
      </perspectiveExtension>
   </extension>

</plugin>
