<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension point="org.maven.ide.eclipse.m2menu">
      <factory class="org.maven.ide.eclipse.pr.internal.ProblemReportingMenuCreator"/>
   </extension>

	<extension point="org.eclipse.ui.actionSets">
		<actionSet id="org.maven.ide.eclipse.help.actionSet"
          label="Maven Problem Reporting"
          description="Maven Problem Reporting"
          visible="true">
		   <action id="org.maven.ide.eclipse.help.report"
           label="Report Maven Issue..."
           tooltip="Report Maven Issue"
           menubarPath="help/additions"
           icon="icons/report-bug.gif"
           class="org.maven.ide.eclipse.pr.internal.wizard.ProblemReportingAction"/>
		</actionSet>
	</extension>
	
</plugin>
