<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <extension
        point="org.eclipse.ui.popupMenus">
     <objectContribution
           adaptable="true"
           id="org.maven.ide.eclipse.editor.pomContributor"
           nameFilter="pom.xml"
           objectClass="org.eclipse.core.resources.IFile">
        <action
              class="org.maven.ide.eclipse.refactoring.RenameArtifactAction"
              enablesFor="1"
              id="org.maven.ide.eclipse.editor.RenameAction"
              label="Rename artifact"
              menubarPath="org.eclipse.jdt.ui.refactoring.menu/Maven refactoring">
        </action>
     </objectContribution>
     <objectContribution
           adaptable="true"
           id="org.maven.ide.eclipse.editor.pomContributor1"
           nameFilter="*.pom"
           objectClass="org.eclipse.core.resources.IFile">
        <action
              class="org.maven.ide.eclipse.refactoring.RenameArtifactAction"
              enablesFor="1"
              id="org.maven.ide.eclipse.editor.RenameAction"
              label="Rename artifact"
              menubarPath="org.eclipse.jdt.ui.refactoring.menu/Maven refactoring">
        </action>
     </objectContribution>
  </extension>
</plugin>
