<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2007, 2008 Sonatype, Inc.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html
-->
<?eclipse version="3.2"?>
<plugin>

  <extension point="org.eclipse.ui.popupMenus">
     <objectContribution
           id="org.maven.ide.eclipse.refactoring.rename.pomContributor"
           adaptable="true"
           nameFilter="pom.xml"
           objectClass="org.eclipse.core.resources.IFile">
        <action id="org.maven.ide.eclipse.editor.RenameAction"
              class="org.maven.ide.eclipse.refactoring.rename.RenameArtifactAction"
              enablesFor="1"
              label="Rename Maven artifact..."
              menubarPath="org.eclipse.jdt.ui.refactoring.menu/Maven refactoring"/>
        <!-- add visibility condition for managet poms -->      
     </objectContribution>
     <objectContribution
           id="org.maven.ide.eclipse.refactoring.rename.projectContributor"
           adaptable="true"
           objectClass="org.eclipse.core.resources.IProject">
        <action id="org.maven.ide.eclipse.editor.RenameAction"
              class="org.maven.ide.eclipse.refactoring.rename.RenameArtifactAction"
              enablesFor="1"
              label="Rename Maven artifact..."
              menubarPath="org.eclipse.jdt.ui.refactoring.menu/Maven refactoring"/>
        <visibility>
          <and>
            <objectState name="open" value="true"/>
            <objectState name="nature" value="org.maven.ide.eclipse.maven2Nature"/>
          </and>
        </visibility>
     </objectContribution>
   <objectContribution id="org.maven.ide.eclipse.refactoring.exclude.jarContributor" adaptable="true"
         objectClass="org.eclipse.jdt.internal.core.JarPackageFragmentRoot">
     <action
           class="org.maven.ide.eclipse.refactoring.exclude.DependencyExcludeAction"
           enablesFor="1"
           icon="icons/exclude.gif"
           id="org.maven.ide.eclipse.projectMenu.action"
           label="Exclude Maven artifact..."
           menubarPath="additions"/>
     <!--
     <visibility>
        <objectState name="name" value="pom.xml"/>
     </visibility>
     -->
   </objectContribution>
   <objectContribution
         adaptable="true"
         id="org.maven.ide.eclipse.refactoring.exclude.projectContributor"
         objectClass="org.eclipse.jdt.internal.ui.packageview.ClassPathContainer$RequiredProjectWrapper">
      <action
            class="org.maven.ide.eclipse.refactoring.exclude.DependencyExcludeAction"
            enablesFor="1"
            icon="icons/exclude.gif"
            id="org.maven.ide.eclipse.projectMenu.action"
            label="Exclude Maven artifact..."
            menubarPath="additions">
      </action>
   </objectContribution>
   <objectContribution
         adaptable="true"
         id="org.maven.ide.eclipse.refactoring.exclude.artifactContributor"
         objectClass="org.apache.maven.artifact.Artifact">
      <action
            class="org.maven.ide.eclipse.refactoring.exclude.DependencyExcludeAction"
            enablesFor="1"
            icon="icons/exclude.gif"
            id="org.maven.ide.eclipse.projectMenu.action"
            label="Exclude Maven artifact..."
            menubarPath="additions">
      </action>
   </objectContribution>
   <objectContribution
         adaptable="true"
         id="org.maven.ide.eclipse.refactoring.exclude.dependencyContributor"
         objectClass="org.apache.maven.shared.dependency.tree.DependencyNode">
      <action
            class="org.maven.ide.eclipse.refactoring.exclude.DependencyExcludeAction"
            enablesFor="1"
            icon="icons/exclude.gif"
            id="org.maven.ide.eclipse.projectMenu.action"
            label="Exclude Maven artifact..."
            menubarPath="additions">
      </action>
   </objectContribution>
  </extension>
</plugin>
