<?xml version="1.0" encoding="UTF-8"?>
<?pde version="3.2"?>

<target name="Eclipse WTP 2.0.2">

   <targetJRE>
      <execEnv>J2SE-1.5</execEnv>
   </targetJRE>

   <location path="C:\eclipse\eclipse-3.3.2\eclipse"/>

   <content>
      <plugins>
      </plugins>
      <features>
      </features>
      <extraLocations>
         <location path="C:\eclipse\eclipse.emf.sdk.2.3.2\eclipse"/>
         <location path="C:\eclipse\eclipse.gef.sdk.3.3.2\eclipse"/>
         <location path="C:\eclipse\eclipse.flexbuilder\eclipse"/>
         <location path="C:\eclipse\eclipse.wtp.sdk.2.0.2\eclipse"/>
         <location path="C:\eclipse\eclipse.plugins.3.3\eclipse"/>
      </extraLocations>
   </content>

</target>
