<?xml version="1.0" encoding="UTF-8"?>
<?pde version="3.2"?>

<target name="Eclipse JEE 3.3">

   <targetJRE>
      <execEnv>J2SE-1.5</execEnv>
   </targetJRE>

   <location path="C:\eclipse\eclipse.jee.3.3\eclipse"/>

   <content>
      <plugins>
      </plugins>
      <features>
      </features>
      <extraLocations>
         <location path="C:\eclipse\eclipse.plugins.3.3\eclipse"/>
      </extraLocations>
   </content>

</target>
