<?xml version="1.0" encoding="UTF-8"?>
<?pde version="3.2"?>

<target>

   <environment>
      <os>win32</os>
      <ws>win32</ws>
      <arch>x86</arch>
      <nl>en_CA</nl>
   </environment>

   <location path="C:\eclipse\eclipse-3.3.1\eclipse"/>

   <content useAllPlugins="true">
      <plugins>
         <plugin id="com.ibm.icu"/>
         <plugin id="com.ibm.icu.source"/>
         <plugin id="com.jcraft.jsch"/>
         <plugin id="javax.servlet"/>
         <plugin id="javax.servlet.jsp"/>
         <plugin id="javax.servlet.jsp.source"/>
         <plugin id="javax.servlet.source"/>
         <plugin id="org.apache.ant"/>
         <plugin id="org.apache.ant.source"/>
         <plugin id="org.apache.commons.el"/>
         <plugin id="org.apache.commons.el.source"/>
         <plugin id="org.apache.commons.logging"/>
         <plugin id="org.apache.commons.logging.source"/>
         <plugin id="org.apache.jasper"/>
         <plugin id="org.apache.jasper.source"/>
         <plugin id="org.apache.lucene"/>
         <plugin id="org.apache.lucene.analysis"/>
         <plugin id="org.apache.lucene.analysis.source"/>
         <plugin id="org.apache.lucene.source"/>
         <plugin id="org.aspectj.ajde"/>
         <plugin id="org.aspectj.runtime"/>
         <plugin id="org.aspectj.weaver"/>
         <plugin id="org.eclipse.ajdt.core"/>
         <plugin id="org.eclipse.ajdt.doc.user"/>
         <plugin id="org.eclipse.ajdt.examples"/>
         <plugin id="org.eclipse.ajdt.pde.build"/>
         <plugin id="org.eclipse.ajdt.source"/>
         <plugin id="org.eclipse.ajdt.ui"/>
         <plugin id="org.eclipse.ant.core"/>
         <plugin id="org.eclipse.ant.ui"/>
         <plugin id="org.eclipse.aspectj"/>
         <plugin id="org.eclipse.compare"/>
         <plugin id="org.eclipse.core.boot"/>
         <plugin id="org.eclipse.core.commands"/>
         <plugin id="org.eclipse.core.contenttype"/>
         <plugin id="org.eclipse.core.databinding"/>
         <plugin id="org.eclipse.core.databinding.beans"/>
         <plugin id="org.eclipse.core.expressions"/>
         <plugin id="org.eclipse.core.filebuffers"/>
         <plugin id="org.eclipse.core.filesystem"/>
         <plugin id="org.eclipse.core.filesystem.win32.x86"/>
         <plugin id="org.eclipse.core.jobs"/>
         <plugin id="org.eclipse.core.net"/>
         <plugin id="org.eclipse.core.resources"/>
         <plugin id="org.eclipse.core.resources.compatibility"/>
         <plugin id="org.eclipse.core.resources.win32"/>
         <plugin id="org.eclipse.core.runtime"/>
         <plugin id="org.eclipse.core.runtime.compatibility"/>
         <plugin id="org.eclipse.core.runtime.compatibility.auth"/>
         <plugin id="org.eclipse.core.runtime.compatibility.registry"/>
         <plugin id="org.eclipse.core.variables"/>
         <plugin id="org.eclipse.cvs"/>
         <plugin id="org.eclipse.cvs.source"/>
         <plugin id="org.eclipse.debug.core"/>
         <plugin id="org.eclipse.debug.ui"/>
         <plugin id="org.eclipse.emf"/>
         <plugin id="org.eclipse.emf.ant"/>
         <plugin id="org.eclipse.emf.cheatsheets"/>
         <plugin id="org.eclipse.emf.codegen"/>
         <plugin id="org.eclipse.emf.codegen.ecore"/>
         <plugin id="org.eclipse.emf.codegen.ecore.ui"/>
         <plugin id="org.eclipse.emf.codegen.ui"/>
         <plugin id="org.eclipse.emf.common"/>
         <plugin id="org.eclipse.emf.common.ui"/>
         <plugin id="org.eclipse.emf.commonj.sdo"/>
         <plugin id="org.eclipse.emf.converter"/>
         <plugin id="org.eclipse.emf.doc"/>
         <plugin id="org.eclipse.emf.ecore"/>
         <plugin id="org.eclipse.emf.ecore.change"/>
         <plugin id="org.eclipse.emf.ecore.change.edit"/>
         <plugin id="org.eclipse.emf.ecore.edit"/>
         <plugin id="org.eclipse.emf.ecore.editor"/>
         <plugin id="org.eclipse.emf.ecore.sdo"/>
         <plugin id="org.eclipse.emf.ecore.sdo.doc"/>
         <plugin id="org.eclipse.emf.ecore.sdo.edit"/>
         <plugin id="org.eclipse.emf.ecore.sdo.editor"/>
         <plugin id="org.eclipse.emf.ecore.sdo.source"/>
         <plugin id="org.eclipse.emf.ecore.xmi"/>
         <plugin id="org.eclipse.emf.edit"/>
         <plugin id="org.eclipse.emf.edit.ui"/>
         <plugin id="org.eclipse.emf.exporter"/>
         <plugin id="org.eclipse.emf.importer"/>
         <plugin id="org.eclipse.emf.importer.ecore"/>
         <plugin id="org.eclipse.emf.importer.java"/>
         <plugin id="org.eclipse.emf.importer.rose"/>
         <plugin id="org.eclipse.emf.mapping"/>
         <plugin id="org.eclipse.emf.mapping.ecore"/>
         <plugin id="org.eclipse.emf.mapping.ecore.editor"/>
         <plugin id="org.eclipse.emf.mapping.ecore2ecore"/>
         <plugin id="org.eclipse.emf.mapping.ecore2ecore.editor"/>
         <plugin id="org.eclipse.emf.mapping.ecore2xml"/>
         <plugin id="org.eclipse.emf.mapping.ecore2xml.ui"/>
         <plugin id="org.eclipse.emf.mapping.ui"/>
         <plugin id="org.eclipse.emf.mapping.xsd2ecore"/>
         <plugin id="org.eclipse.emf.mapping.xsd2ecore.editor"/>
         <plugin id="org.eclipse.emf.source"/>
         <plugin id="org.eclipse.equinox.app"/>
         <plugin id="org.eclipse.equinox.common"/>
         <plugin id="org.eclipse.equinox.http.jetty"/>
         <plugin id="org.eclipse.equinox.http.registry"/>
         <plugin id="org.eclipse.equinox.http.servlet"/>
         <plugin id="org.eclipse.equinox.jsp.jasper"/>
         <plugin id="org.eclipse.equinox.jsp.jasper.registry"/>
         <plugin id="org.eclipse.equinox.launcher"/>
         <plugin id="org.eclipse.equinox.launcher.win32.win32.x86"/>
         <plugin id="org.eclipse.equinox.preferences"/>
         <plugin id="org.eclipse.equinox.registry"/>
         <plugin id="org.eclipse.help"/>
         <plugin id="org.eclipse.help.appserver"/>
         <plugin id="org.eclipse.help.base"/>
         <plugin id="org.eclipse.help.ui"/>
         <plugin id="org.eclipse.help.webapp"/>
         <plugin id="org.eclipse.jdt"/>
         <plugin id="org.eclipse.jdt.apt.core"/>
         <plugin id="org.eclipse.jdt.apt.pluggable.core"/>
         <plugin id="org.eclipse.jdt.apt.ui"/>
         <plugin id="org.eclipse.jdt.compiler.apt"/>
         <plugin id="org.eclipse.jdt.compiler.tool"/>
         <plugin id="org.eclipse.jdt.core"/>
         <plugin id="org.eclipse.jdt.core.manipulation"/>
         <plugin id="org.eclipse.jdt.debug"/>
         <plugin id="org.eclipse.jdt.debug.ui"/>
         <plugin id="org.eclipse.jdt.doc.isv"/>
         <plugin id="org.eclipse.jdt.doc.user"/>
         <plugin id="org.eclipse.jdt.junit"/>
         <plugin id="org.eclipse.jdt.junit.runtime"/>
         <plugin id="org.eclipse.jdt.junit4.runtime"/>
         <plugin id="org.eclipse.jdt.launching"/>
         <plugin id="org.eclipse.jdt.source"/>
         <plugin id="org.eclipse.jdt.ui"/>
         <plugin id="org.eclipse.jface"/>
         <plugin id="org.eclipse.jface.databinding"/>
         <plugin id="org.eclipse.jface.text"/>
         <plugin id="org.eclipse.jsch.core"/>
         <plugin id="org.eclipse.jsch.ui"/>
         <plugin id="org.eclipse.ltk.core.refactoring"/>
         <plugin id="org.eclipse.ltk.ui.refactoring"/>
         <plugin id="org.eclipse.osgi"/>
         <plugin id="org.eclipse.osgi.services"/>
         <plugin id="org.eclipse.osgi.util"/>
         <plugin id="org.eclipse.pde"/>
         <plugin id="org.eclipse.pde.build"/>
         <plugin id="org.eclipse.pde.core"/>
         <plugin id="org.eclipse.pde.doc.user"/>
         <plugin id="org.eclipse.pde.junit.runtime"/>
         <plugin id="org.eclipse.pde.runtime"/>
         <plugin id="org.eclipse.pde.source"/>
         <plugin id="org.eclipse.pde.ui"/>
         <plugin id="org.eclipse.pde.ui.templates"/>
         <plugin id="org.eclipse.platform"/>
         <plugin id="org.eclipse.platform.doc.isv"/>
         <plugin id="org.eclipse.platform.doc.user"/>
         <plugin id="org.eclipse.platform.source"/>
         <plugin id="org.eclipse.platform.source.win32.win32.x86"/>
         <plugin id="org.eclipse.rcp"/>
         <plugin id="org.eclipse.rcp.source"/>
         <plugin id="org.eclipse.rcp.source.win32.win32.x86"/>
         <plugin id="org.eclipse.sdk"/>
         <plugin id="org.eclipse.search"/>
         <plugin id="org.eclipse.swt"/>
         <plugin id="org.eclipse.swt.win32.win32.x86"/>
         <plugin id="org.eclipse.team.core"/>
         <plugin id="org.eclipse.team.cvs.core"/>
         <plugin id="org.eclipse.team.cvs.ssh"/>
         <plugin id="org.eclipse.team.cvs.ssh2"/>
         <plugin id="org.eclipse.team.cvs.ui"/>
         <plugin id="org.eclipse.team.ui"/>
         <plugin id="org.eclipse.text"/>
         <plugin id="org.eclipse.tomcat"/>
         <plugin id="org.eclipse.ui"/>
         <plugin id="org.eclipse.ui.browser"/>
         <plugin id="org.eclipse.ui.cheatsheets"/>
         <plugin id="org.eclipse.ui.console"/>
         <plugin id="org.eclipse.ui.editors"/>
         <plugin id="org.eclipse.ui.externaltools"/>
         <plugin id="org.eclipse.ui.forms"/>
         <plugin id="org.eclipse.ui.ide"/>
         <plugin id="org.eclipse.ui.ide.application"/>
         <plugin id="org.eclipse.ui.intro"/>
         <plugin id="org.eclipse.ui.intro.universal"/>
         <plugin id="org.eclipse.ui.navigator"/>
         <plugin id="org.eclipse.ui.navigator.resources"/>
         <plugin id="org.eclipse.ui.net"/>
         <plugin id="org.eclipse.ui.presentations.r21"/>
         <plugin id="org.eclipse.ui.views"/>
         <plugin id="org.eclipse.ui.views.properties.tabbed"/>
         <plugin id="org.eclipse.ui.win32"/>
         <plugin id="org.eclipse.ui.workbench"/>
         <plugin id="org.eclipse.ui.workbench.compatibility"/>
         <plugin id="org.eclipse.ui.workbench.texteditor"/>
         <plugin id="org.eclipse.update.configurator"/>
         <plugin id="org.eclipse.update.core"/>
         <plugin id="org.eclipse.update.core.win32"/>
         <plugin id="org.eclipse.update.scheduler"/>
         <plugin id="org.eclipse.update.ui"/>
         <plugin id="org.eclipse.xsd"/>
         <plugin id="org.eclipse.xsd.cheatsheets"/>
         <plugin id="org.eclipse.xsd.doc"/>
         <plugin id="org.eclipse.xsd.ecore.converter"/>
         <plugin id="org.eclipse.xsd.ecore.exporter"/>
         <plugin id="org.eclipse.xsd.ecore.importer"/>
         <plugin id="org.eclipse.xsd.edit"/>
         <plugin id="org.eclipse.xsd.editor"/>
         <plugin id="org.eclipse.xsd.mapping"/>
         <plugin id="org.eclipse.xsd.mapping.editor"/>
         <plugin id="org.eclipse.xsd.source"/>
         <plugin id="org.junit"/>
         <plugin id="org.junit.source"/>
         <plugin id="org.junit4"/>
         <plugin id="org.mortbay.jetty"/>
         <plugin id="org.mortbay.jetty.source"/>
      </plugins>
      <features>
      </features>
      <extraLocations>
         <location path="C:\eclipse\eclipse.plugins.3.3\eclipse"/>
         <location path="C:\eclipse\eclipse.emf.sdk.2.3.2\eclipse"/>
      </extraLocations>
   </content>

</target>
