<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <extension-point id="searchEngine" name="Search Engine" schema="schema/searchEngine.exsd"/>

  <extension point="org.maven.ide.eclipse.editor.xml.searchEngine">
    <search-engine class="org.maven.ide.eclipse.editor.xml.search.IndexManagerSearchEngine"/>
  </extension>
  
  <extension point="org.eclipse.wst.sse.ui.editorConfiguration">
    <sourceViewerConfiguration
        class="org.maven.ide.eclipse.editor.xml.PomStructuredTextViewConfiguration"
        target="org.maven.ide.eclipse.pomFile, org.eclipse.wst.xml.core.xmlsource, org.eclipse.core.runtime.xml"/>
    <contentOutlineConfiguration
        class="org.maven.ide.eclipse.editor.xml.PomContentOutlineConfiguration"
        target="org.maven.ide.eclipse.pomFile, org.eclipse.wst.xml.core.xmlsource, org.eclipse.core.runtime.xml"/>
    <provisionalConfiguration
        type="org.eclipse.jface.text.quickassist.IQuickAssistProcessor"
        class="org.maven.ide.eclipse.editor.xml.PomQuickAssistProcessor"
        target="org.maven.ide.eclipse.pomFile"/>
  </extension>
  
  <extension point="org.eclipse.wst.sse.core.modelHandler">
   	<modelHandler
          associatedContentTypeId="org.maven.ide.eclipse.pomFile"
          class="org.maven.ide.eclipse.editor.xml.PomModelHandler"
          id="org.maven.ide.eclipse.pomFile.handler">
   	</modelHandler>
   </extension>

  <extension  point="org.eclipse.ui.editors.templates">
    <contextType name="Document"
      class="org.maven.ide.eclipse.editor.xml.PomTemplateContextType"
      id="org.maven.ide.eclipse.editor.xml.templates.contextType.#document"/>
    
    <contextType name="Project"
      class="org.maven.ide.eclipse.editor.xml.PomTemplateContextType"
      id="org.maven.ide.eclipse.editor.xml.templates.contextType.project"/>
    
    <contextType name="Parent"
      class="org.maven.ide.eclipse.editor.xml.PomTemplateContextType"
      id="org.maven.ide.eclipse.editor.xml.templates.contextType.parent"/>
    
    <contextType name="Properties"
      class="org.maven.ide.eclipse.editor.xml.PomTemplateContextType"
      id="org.maven.ide.eclipse.editor.xml.templates.contextType.properties"/>
    
    <contextType name="Properties"
      class="org.maven.ide.eclipse.editor.xml.PomTemplateContextType"
      id="org.maven.ide.eclipse.editor.xml.templates.contextType.properties"/>
    
    <contextType name="Dependencies"
      class="org.maven.ide.eclipse.editor.xml.PomTemplateContextType"
      id="org.maven.ide.eclipse.editor.xml.templates.contextType.dependencies"/>
    
    <contextType name="Exclusions"
      class="org.maven.ide.eclipse.editor.xml.PomTemplateContextType"
      id="org.maven.ide.eclipse.editor.xml.templates.contextType.exclusions"/>
    
    <contextType name="Plugins"
      class="org.maven.ide.eclipse.editor.xml.PomTemplateContextType"
      id="org.maven.ide.eclipse.editor.xml.templates.contextType.plugins"/>
    
    <contextType name="Plugin"
      class="org.maven.ide.eclipse.editor.xml.PomTemplateContextType"
      id="org.maven.ide.eclipse.editor.xml.templates.contextType.plugin"/>
    
    <contextType name="Configuration"
      class="org.maven.ide.eclipse.editor.xml.PomTemplateContextType"
      id="org.maven.ide.eclipse.editor.xml.templates.contextType.configuration"/>
    
    <contextType name="Executions"
      class="org.maven.ide.eclipse.editor.xml.PomTemplateContextType"
      id="org.maven.ide.eclipse.editor.xml.templates.contextType.executions"/>
    
    <contextType name="Execution"
      class="org.maven.ide.eclipse.editor.xml.PomTemplateContextType"
      id="org.maven.ide.eclipse.editor.xml.templates.contextType.execution"/>
    
    <contextType name="Profiles"
      class="org.maven.ide.eclipse.editor.xml.PomTemplateContextType"
      id="org.maven.ide.eclipse.editor.xml.templates.contextType.profiles"/>
    
    <contextType name="Repositories"
      class="org.maven.ide.eclipse.editor.xml.PomTemplateContextType"
      id="org.maven.ide.eclipse.editor.xml.templates.contextType.repositories"/>
    
    <contextType name="Group Id"
      class="org.eclipse.jface.text.templates.TemplateContextType"
      id="org.maven.ide.eclipse.editor.xml.templates.contextType.groupId"/>
    
    <contextType name="Artifact Id"
      class="org.eclipse.jface.text.templates.TemplateContextType"
      id="org.maven.ide.eclipse.editor.xml.templates.contextType.artifactId"/>
    
    <contextType name="Version"
      class="org.eclipse.jface.text.templates.TemplateContextType"
      id="org.maven.ide.eclipse.editor.xml.templates.contextType.version"/>
    
    <contextType name="Classifier"
      class="org.eclipse.jface.text.templates.TemplateContextType"
      id="org.maven.ide.eclipse.editor.xml.templates.contextType.classifier"/>
    
    <contextType name="Type"
      class="org.eclipse.jface.text.templates.TemplateContextType"
      id="org.maven.ide.eclipse.editor.xml.templates.contextType.type"/>

    <contextType name="SystemPath"
      class="org.eclipse.jface.text.templates.TemplateContextType"
      id="org.maven.ide.eclipse.editor.xml.templates.contextType.systemPath"/>

    <contextType name="Packaging"
      class="org.eclipse.jface.text.templates.TemplateContextType"
      id="org.maven.ide.eclipse.editor.xml.templates.contextType.packaging"/>

    <contextType name="Phase"
      class="org.eclipse.jface.text.templates.TemplateContextType"
      id="org.maven.ide.eclipse.editor.xml.templates.contextType.phase"/>

    <template id="org.maven.ide.eclipse.editor.xml.templates.project.skeleton"
         contextTypeId="org.maven.ide.eclipse.editor.xml.templates.contextType.#document"
         name="project" 
         description="New project element">
      <pattern>&lt;project xmlns=&quot;http://maven.apache.org/POM/4.0.0&quot;
    xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot;
    xsi:schemaLocation=&quot;http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd&quot;&gt;</pattern>
    </template>
      
    <template id="org.maven.ide.eclipse.editor.xml.templates.parent.skeleton"
         contextTypeId="org.maven.ide.eclipse.editor.xml.templates.contextType.project"
         name="parent" 
         description="New parent element">
      <pattern>&lt;parent&gt;
    &lt;groupId&gt;${cursor}&lt;/groupId&gt;
    &lt;artifactId&gt;&lt;/artifactId&gt;
    &lt;version&gt;&lt;/version&gt;
  &lt;/parent&gt;</pattern>
    </template>

    <template id="org.maven.ide.eclipse.editor.xml.templates.property.skeleton"
         contextTypeId="org.maven.ide.eclipse.editor.xml.templates.contextType.properties"
         name="property" 
         description="New property element">
      <pattern>&lt;${cursor}${name}&gt;${value}&lt;/${name}&gt;</pattern>
    </template>

    <template id="org.maven.ide.eclipse.editor.xml.templates.dependency.skeleton"
         contextTypeId="org.maven.ide.eclipse.editor.xml.templates.contextType.dependencies"
         name="dependency" 
         description="New dependency element">
      <pattern>&lt;dependency&gt;
      &lt;groupId&gt;${cursor}&lt;/groupId&gt;
      &lt;artifactId&gt;&lt;/artifactId&gt;
      &lt;version&gt;&lt;/version&gt;
    &lt;/dependency&gt;</pattern>
    </template>

    <template id="org.maven.ide.eclipse.editor.xml.templates.exclusion.skeleton"
         contextTypeId="org.maven.ide.eclipse.editor.xml.templates.contextType.exclusions"
         name="exclusion" 
         description="New exclusion element">
      <pattern>&lt;exclusion&gt;
          &lt;groupId&gt;${cursor}&lt;/groupId&gt;
          &lt;artifactId&gt;&lt;/artifactId&gt;
        &lt;/exclusion&gt;</pattern>
    </template>

    <template id="org.maven.ide.eclipse.editor.xml.templates.plugin.skeleton"
         contextTypeId="org.maven.ide.eclipse.editor.xml.templates.contextType.plugins"
         name="plugin" 
         description="New plugin element">
      <pattern>&lt;plugin&gt;
        &lt;groupId&gt;${cursor}&lt;/groupId&gt;
        &lt;artifactId&gt;&lt;/artifactId&gt;
        &lt;version&gt;&lt;/version&gt;
        &lt;configuration&gt;
        &lt;/configuration&gt;
      &lt;/plugin&gt;</pattern>
    </template>

    <template id="org.maven.ide.eclipse.editor.xml.templates.plugin.javac"
         contextTypeId="org.maven.ide.eclipse.editor.xml.templates.contextType.plugins"
         name="javac plugin" 
         description="Java complier plugin configuration">
      <pattern>&lt;plugin&gt;
        &lt;groupId&gt;org.apache.maven.plugins&lt;/groupId&gt;
        &lt;artifactId&gt;maven-compiler-plugin&lt;/artifactId&gt;
        &lt;configuration&gt;
          &lt;source&gt;${cursor}1.4&lt;/source&gt;
          &lt;target&gt;1.4&lt;/target&gt;
        &lt;/configuration&gt;
      &lt;/plugin&gt;</pattern>
    </template>

    <template id="org.maven.ide.eclipse.editor.xml.templates.plugin.aspectj"
         contextTypeId="org.maven.ide.eclipse.editor.xml.templates.contextType.plugins"
         name="AspectJ plugin" 
         description="AspectJ plugin configuration">
      <pattern>&lt;plugin&gt;
         &lt;groupId&gt;org.codehaus.mojo&lt;/groupId&gt;
         &lt;artifactId&gt;aspectj-maven-plugin&lt;/artifactId&gt;
         &lt;executions&gt;
           &lt;execution&gt;
             &lt;goals&gt;
                &lt;goal&gt;compile&lt;/goal&gt;
             &lt;/goals&gt;
          &lt;/execution&gt;
        &lt;/executions&gt;
      &lt;/plugin&gt;</pattern>
    </template>

    <template id="org.maven.ide.eclipse.editor.xml.templates.repository.skeleton"
         contextTypeId="org.maven.ide.eclipse.editor.xml.templates.contextType.repositories"
         name="repository" 
         description="New repository element">
      <pattern>&lt;repository&gt;
        &lt;id&gt;${cursor}&lt;/id&gt;
        &lt;url&gt;&lt;/url&gt;
        &lt;releases&gt;
           &lt;enabled&gt;true&lt;/enabled&gt;
        &lt;/releases&gt;
        &lt;snapshots&gt;
          &lt;enabled&gt;false&lt;/enabled&gt;
        &lt;/snapshots&gt;        
     &lt;/repository&gt;</pattern>
    </template>
    
    <template id="org.maven.ide.eclipse.editor.xml.templates.execution.skeleton"
         contextTypeId="org.maven.ide.eclipse.editor.xml.templates.contextType.executions"
         name="execution" 
         description="New execution element">
      <pattern>&lt;execution&gt;
            &lt;id&gt;${cursor}&lt;/id&gt;
            &lt;phase&gt;${verify}&lt;/phase&gt;
            &lt;goals&gt;
              &lt;goal&gt;${run}&lt;/goal&gt;
            &lt;/goals&gt;
            &lt;inherited&gt;${false}&lt;/inherited&gt;
            &lt;configuration&gt;
            &lt;/configuration&gt;
          &lt;/execution&gt;</pattern>
    </template>
    
    <template id="org.maven.ide.eclipse.editor.xml.templates.profile.skeleton"
         contextTypeId="org.maven.ide.eclipse.editor.xml.templates.contextType.profiles"
         name="profile" 
         description="New profile element">
      <pattern>&lt;profile&gt;
      &lt;id&gt;${cursor}${test}&lt;/id&gt;
      &lt;activation&gt;
      &lt;/activation&gt;
    &lt;/profile&gt;</pattern>
    </template>
    
    <template id="org.maven.ide.eclipse.editor.xml.templates.profile.tools.jar"
         contextTypeId="org.maven.ide.eclipse.editor.xml.templates.contextType.profiles"
         name="tools.jar" 
         description="Profile for tools.jar">
      <pattern>&lt;profile&gt;
      &lt;id&gt;tools.jar&lt;/id&gt;
      &lt;activation&gt;
        &lt;property&gt;
          &lt;name&gt;java.vendor&lt;/name&gt;
          &lt;value&gt;Sun Microsystems Inc.&lt;/value&gt;
       &lt;/property&gt;
     &lt;/activation&gt;
      &lt;dependencies&gt;
        &lt;dependency&gt;
          &lt;groupId&gt;com.sun&lt;/groupId&gt;
          &lt;artifactId&gt;tools&lt;/artifactId&gt;
          &lt;version&gt;1.4.2&lt;/version&gt;
          &lt;scope&gt;system&lt;/scope&gt;
          &lt;systemPath&gt;$${java.home}/../lib/tools.jar&lt;/systemPath&gt;
       &lt;/dependency&gt;
     &lt;/dependencies&gt;
   &lt;/profile&gt;</pattern>
    </template>
    
    <template id="org.maven.ide.eclipse.editor.xml.templates.systemPath.tools.jar"
         contextTypeId="org.maven.ide.eclipse.editor.xml.templates.contextType.systemPath"
         name="tools.jar" 
         description="Path to the tools.jar">
      <pattern>$${java.home}/../lib/tools.jar</pattern>
    </template>
  </extension>

  <extension point="org.eclipse.ui.keywords">
    <keyword id="org.maven.ide.eclipse.maven" label="maven"/>
  </extension>

  <extension point="org.eclipse.ui.preferencePages">
    <page id="org.maven.ide.eclipse.editor.xml.preferences.PomTemplatesPreferencePage"
          category="org.maven.ide.eclipse.preferences.Maven2PreferencePage"
          class="org.maven.ide.eclipse.editor.xml.preferences.PomTemplatesPreferencePage"
          name="Templates">
       <keywordReference id="org.maven.ide.eclipse.maven"/>
    </page>
  </extension>

</plugin>
