<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.5"?>

<target name="m2e-e35">
<locations>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="3.5.0.I20090611-1540"/>
<repository location="http://localhost:8081/nexus/content/groups/m2e-e35"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.zest.sdk.feature.group" version="1.1.0.v20090422-2346-66-8CNBS9R9XSPdMjP_cnNcPPPPO"/>
<repository location="http://localhost:8081/nexus/content/groups/e35lileo"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.mylyn_feature.feature.group" version="3.2.0.v20090617-0100-e3x"/>
<repository location="http://localhost:8081/nexus/content/groups/m2e-e35"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.gef.sdk.feature.group" version="3.5.0.v20090422-2346-7G7O-A5WNWYQIaLUbWhghJaamPKQ"/>
<repository location="http://localhost:8081/nexus/content/groups/m2e-e35"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.ajdt.feature.group" version="2.0.0.e35x-20090624-1600"/>
<repository location="http://localhost:8081/nexus/content/groups/m2e-e35"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.jst.enterprise_ui.feature.feature.group" version="3.1.0.v200905242144-7_7EGr_FQRwRZSME08aqRiT1Skap"/>
<unit id="org.eclipse.jst.web_ui.feature.feature.group" version="3.1.0.v200901280155-7E77FBbDlwYa_9Sf53h4Abpn38Ne"/>
<repository location="http://localhost:8081/nexus/content/groups/m2e-e35"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id='com.windowtester.launcher.feature.group' version='3.9.0.200906301836'/>
<unit id='com.windowtester.runtime.feature.group' version='3.9.0.200906301905'/>
<repository location="http://localhost:8081/nexus/content/groups/m2e-e35"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.tigris.subversion.subclipse.feature.group" version="1.6.3"/>
<unit id="org.tigris.subversion.clientadapter.feature.feature.group" version="1.6.0.2"/>
<unit id="org.tigris.subversion.clientadapter.javahl.feature.feature.group" version="1.6.3"/>
<unit id="org.tigris.subversion.clientadapter.svnkit.feature.feature.group" version="1.6.2"/>
<unit id="org.tmatesoft.svnkit.feature.group" version="1.3.0.5847"/>
<repository location="http://localhost:8081/nexus/content/groups/m2e-e35"/>
</location>
</locations>
</target>
