<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.5"?>

<target name="m2e-e35">
<locations>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="3.5.0.I20090611-1540"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.5"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.zest.sdk.feature.group" version="1.1.0.v20090422-2346-66-8CNBS9R9XSPdMjP_cnNcPPPPO"/>
<repository location="http://download.eclipse.org/releases/galileo"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.mylyn_feature.feature.group" version="3.2.0.v20090617-0100-e3x"/>
<repository location="http://download.eclipse.org/releases/galileo"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.gef.sdk.feature.group" version="3.5.0.v20090422-2346-7G7O-A5WNWYQIaLUbWhghJaamPKQ"/>
<repository location="http://download.eclipse.org/releases/galileo"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.ajdt.feature.group" version="2.0.0.e35x-20090624-1600"/>
<repository location="http://download.eclipse.org/tools/ajdt/35/update"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.jst.enterprise_ui.feature.feature.group" version="3.1.0.v200905242144-7_7EGr_FQRwRZSME08aqRiT1Skap"/>
<unit id="org.eclipse.jst.web_ui.feature.feature.group" version="3.1.0.v200901280155-7E77FBbDlwYa_9Sf53h4Abpn38Ne"/>
<repository location="http://download.eclipse.org/releases/galileo"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="com.windowtester.runtime.feature.group" version="3.9.1.200907171009"/>
<unit id="com.windowtester.launcher.feature.group" version="3.9.1.200907152103"/>
<repository location="http://download.instantiations.com/WindowTesterPro/integration/latest/update/3.5/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.tigris.subversion.subclipse.feature.group" version="1.6.3"/>
<repository location="http://subclipse.tigris.org/update_1.6.x"/>
</location>
</locations>
</target>
